USE [IPRings]
GO
/****** Object:  Table [dbo].[invoice_temp2]    Script Date: 09-05-2024 15:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_temp2](
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[BILLING_DOCUMENT] [nvarchar](255) NOT NULL,
	[BILLING_DATE] [date] NULL,
	[BILLING_DOCUMENT_TYP] [nvarchar](255) NULL,
	[BILLING_DES] [nvarchar](255) NULL,
	[COMPANY_CODE] [nvarchar](255) NULL,
	[SALES_ORDER] [nvarchar](255) NULL,
	[SALES_ORDER_ITEM] [nvarchar](255) NULL,
	[CUSTOMER_NO] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PO_No] [nvarchar](255) NULL,
	[CUSTOMER_PO_Date] [date] NULL,
	[SALES_ORGANISATION] [nvarchar](255) NULL,
	[DISTRIBUTION_CHANNEL] [nvarchar](255) NULL,
	[DIVISION] [nvarchar](255) NULL,
	[PLANT] [nvarchar](255) NULL,
	[ITEM_CODE] [nvarchar](255) NULL,
	[MATERIAL_NAME] [nvarchar](255) NULL,
	[MATERIAL_DESCRIPTION] [nvarchar](255) NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[CUSTOMER_PART_NAME] [nvarchar](255) NULL,
	[IPR_REF] [nvarchar](255) NULL,
	[INCOTERMS] [nvarchar](255) NULL,
	[HSN/SAC] [nvarchar](255) NULL,
	[COUNTRY_NAME] [nvarchar](255) NULL,
	[REGION] [nvarchar](255) NULL,
	[ITEM_VALUE] [nvarchar](255) NULL,
	[DISCOUNT__PERCENT] [nvarchar](255) NULL,
	[BILLED_QTY] [bigint] NULL,
	[PACKING_FACTOR] [int] NULL,
	[master_packing_factor] [int] NULL,
	[PACKING_BOX_COUNT] [int] NULL,
	[ITEM_TOTALVALUE] [nvarchar](255) NULL,
	[DISCOUNTED_VALUE] [nvarchar](255) NULL,
	[TOTAL_VALUE_AFTER_DI] [nvarchar](255) NULL,
	[CURRANCY] [nvarchar](255) NULL,
	[FI_DOCUMENT] [nvarchar](255) NULL,
	[EXCHANGE_RATE] [nvarchar](255) NULL,
	[FINAL_VALUE] [nvarchar](255) NULL,
	[JOIG_PERCENT] [nvarchar](255) NULL,
	[JOIG_TAX_VALUE] [nvarchar](255) NULL,
	[JOCG_PERCENT] [nvarchar](255) NULL,
	[JOCG_TAX_VALUE] [nvarchar](255) NULL,
	[JOSG_PERCENT] [nvarchar](255) NULL,
	[JOSG_TAX_VALUE] [nvarchar](255) NULL,
	[TOTAL_TAX_ITEM_WISE] [nvarchar](255) NULL,
	[PACKING_COST] [nvarchar](255) NULL,
	[TOTAL_PACKING_COST] [nvarchar](255) NULL,
	[TOTAL_TCS/SALE] [nvarchar](255) NULL,
	[TCS_TAX/SALES_PERCENT] [nvarchar](255) NULL,
	[TCS_TAX_/SCRAP_PERCENT] [nvarchar](255) NULL,
	[TOTAL_TCS/SCRAP] [nvarchar](255) NULL,
	[TOTAL_INV_VALUE] [nvarchar](255) NULL,
	[IRN_NO] [nvarchar](255) NULL,
	[TRANSPORTER_NAME] [nvarchar](255) NULL,
	[TRANSPORT_MODE] [nvarchar](255) NULL,
	[TRANSPORTER_NO] [nvarchar](255) NULL,
	[TRANSPORT_DATE] [datetime] NULL,
	[VECHILE_NO] [nvarchar](255) NULL,
	[EWAY_BILL_NO] [nvarchar](255) NULL,
	[EWAY_BILL_DT] [datetime] NULL,
	[LR_NO] [nvarchar](255) NULL,
	[LR_DATE] [datetime] NULL,
	[GRN_NO] [nvarchar](255) NULL,
	[GRN_DATE] [datetime] NULL,
	[REMARKS] [nvarchar](255) NULL,
	[SCANNED_QTY] [bigint] NULL,
	[STATUS] [nvarchar](255) NULL,
	[HEAT_CODE] [varchar](50) NULL,
 CONSTRAINT [PK_invoice_temp2] PRIMARY KEY CLUSTERED 
(
	[BILLING_DOCUMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_order_temp1]    Script Date: 09-05-2024 15:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_order_temp1](
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[p_order] [bigint] NOT NULL,
	[posting_date] [date] NULL,
	[material_description] [nvarchar](255) NULL,
	[yield_qty] [bigint] NULL,
	[CUSTOMER_PART_NO] [varchar](50) NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[SCANNED_QTY] [bigint] NULL,
	[PACKING_FACTOR] [int] NULL,
	[MASTER_PACKING_FACTOR] [int] NULL,
	[BALANCE_QTY] [bigint] NULL,
	[STATUS] [int] NULL,
	[IPR_REF] [varchar](50) NULL,
	[HEAT_CODE] [varchar](50) NULL,
	[material_code] [varchar](50) NULL,
	[CFFWO_ID] [bigint] NULL,
	[CFFWO_QTY] [bigint] NULL,
	[CFTWO_ID] [bigint] NULL,
	[CFTWO_QTY] [bigint] NULL,
	[LOCKED] [bigint] NULL,
	[PLANT] [varchar](50) NULL,
 CONSTRAINT [PK_work_order_temp1] PRIMARY KEY CLUSTERED 
(
	[p_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[work_order_temp1] ([created_at], [updated_at], [p_order], [posting_date], [material_description], [yield_qty], [CUSTOMER_PART_NO], [CUSTOMER_NAME], [SCANNED_QTY], [PACKING_FACTOR], [MASTER_PACKING_FACTOR], [BALANCE_QTY], [STATUS], [IPR_REF], [HEAT_CODE], [material_code], [CFFWO_ID], [CFFWO_QTY], [CFTWO_ID], [CFTWO_QTY], [LOCKED], [PLANT]) VALUES (NULL, NULL, 5000000261, CAST(N'2020-11-23' AS Date), N'HN-609 - 2.02', 880, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'14000201', NULL, NULL, NULL, NULL, NULL, N'1200')
INSERT [dbo].[work_order_temp1] ([created_at], [updated_at], [p_order], [posting_date], [material_description], [yield_qty], [CUSTOMER_PART_NO], [CUSTOMER_NAME], [SCANNED_QTY], [PACKING_FACTOR], [MASTER_PACKING_FACTOR], [BALANCE_QTY], [STATUS], [IPR_REF], [HEAT_CODE], [material_code], [CFFWO_ID], [CFFWO_QTY], [CFTWO_ID], [CFTWO_QTY], [LOCKED], [PLANT]) VALUES (NULL, NULL, 5000000262, CAST(N'2020-11-23' AS Date), N'HN-609 - 2.02', 88, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'14000201', NULL, NULL, NULL, NULL, NULL, N'1200')
INSERT [dbo].[work_order_temp1] ([created_at], [updated_at], [p_order], [posting_date], [material_description], [yield_qty], [CUSTOMER_PART_NO], [CUSTOMER_NAME], [SCANNED_QTY], [PACKING_FACTOR], [MASTER_PACKING_FACTOR], [BALANCE_QTY], [STATUS], [IPR_REF], [HEAT_CODE], [material_code], [CFFWO_ID], [CFFWO_QTY], [CFTWO_ID], [CFTWO_QTY], [LOCKED], [PLANT]) VALUES (NULL, NULL, 5000001115, CAST(N'2021-12-25' AS Date), N'DIFF GEAR 3WHL -032', 10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'14000002', NULL, NULL, NULL, NULL, NULL, N'1200')
GO
