USE [master]
GO
/****** Object:  Database [ipRings]    Script Date: 10/28/2023 12:59:56 AM ******/
CREATE DATABASE [ipRings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ipRings', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ipRings.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ipRings_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ipRings_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ipRings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ipRings]
GO
/****** Object:  User [root]    Script Date: 10/28/2023 12:59:56 AM ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [root]
GO
/****** Object:  Table [dbo].[barcode_master]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcode_master](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[INVOICE_ID] [int] NULL,
	[SALE_ORDER] [nvarchar](255) NULL,
	[SALE_ORDER_ITEM] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[PART_NUMBER] [nvarchar](255) NULL,
	[QUANTITY] [int] NULL,
	[SUPPLIER] [nvarchar](255) NULL,
	[VENDOR_BATCH] [nvarchar](255) NULL,
	[PART_DESCRIPTION] [nvarchar](255) NULL,
	[DELIVERY_NOTE] [nvarchar](255) NULL,
	[HEAT_LOT] [nvarchar](255) NULL,
	[HEAT_CODE] [nvarchar](255) NULL,
	[REV_LEVEL] [nvarchar](255) NULL,
	[DATE_MFG] [nvarchar](255) NULL,
	[DATE_SHIPPED] [nvarchar](255) NULL,
	[EMP] [nvarchar](255) NULL,
	[FROM_ADDRESS] [nvarchar](255) NULL,
	[TO_ADDRESS] [nvarchar](255) NULL,
	[VALUE] [nvarchar](255) NULL,
	[APPROVED] [int] NULL,
	[CANCEL] [int] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barcode_primary]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcode_primary](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[INVOICE_ID] [int] NULL,
	[SALE_ORDER] [nvarchar](255) NULL,
	[SALE_ORDER_ITEM] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[IPR_REF] [nvarchar](255) NULL,
	[SL_NO] [int] NOT NULL,
	[QTY] [int] NULL,
	[WEIGHT] [decimal](25, 3) NULL,
	[EMP] [nvarchar](255) NULL,
	[DATE] [nvarchar](255) NULL,
	[VALUE] [nvarchar](255) NULL,
	[APPROVED] [int] NULL,
	[SECONDARY] [int] NULL,
	[MASTER] [int] NULL,
	[CANCEL] [int] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
	[RACK_MASTER_ID] [int] NULL,
	[DISPATCHED] [int] NULL,
	[SEPARATOR] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barcode_secondary]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcode_secondary](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[INVOICE_ID] [int] NULL,
	[SALE_ORDER] [nvarchar](255) NULL,
	[SALE_ORDER_ITEM] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[PART_NUMBER] [nvarchar](255) NULL,
	[QTY] [int] NULL,
	[PART_DESCRIPTION] [nvarchar](255) NULL,
	[DELIVERY_NOTE] [nvarchar](255) NULL,
	[HEAT_LOT] [nvarchar](255) NULL,
	[HEAT_CODE] [nvarchar](255) NULL,
	[IPR_REF] [nvarchar](255) NULL,
	[WEIGHT] [nvarchar](255) NULL,
	[REV_LEVEL] [nvarchar](255) NULL,
	[DATE] [nvarchar](255) NULL,
	[DATE_SHIPPED] [nvarchar](255) NULL,
	[EMP] [nvarchar](255) NULL,
	[FROM_ADDRESS] [nvarchar](255) NULL,
	[TO_ADDRESS] [nvarchar](255) NULL,
	[SL_NO] [int] NOT NULL,
	[VALUE] [nvarchar](255) NULL,
	[APPROVED] [int] NULL,
	[MASTER] [int] NULL,
	[CANCEL] [int] NULL,
	[RACK_MASTER_ID] [int] NULL,
	[DISPATCHED] [int] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
	[SEPARATOR] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bin_stock]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bin_stock](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
	[PRIMARY_ID] [bigint] NULL,
	[SECONDARY_ID] [bigint] NULL,
	[MASTER_ID] [bigint] NULL,
	[QTY] [bigint] NULL,
	[PACKING_FACTOR] [int] NULL,
	[MASTER_PACKING_FACTOR] [int] NULL,
	[STORAGE_LOCATION_ID] [int] NULL,
	[RACK_MASTER_ID] [int] NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PART_NO] [nvarchar](255) NULL,
	[MATRIAL_CODE] [nvarchar](255) NULL,
	[MATERIAL_DESCRIPTION] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[DISPATCHED] [int] NULL,
	[INVOICE_ID] [bigint] NULL,
	[LOCKED] [int] NULL,
	[IPR_REF] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[duplicate_scan]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[duplicate_scan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[work_order_id] [bigint] NULL,
	[emp] [int] NOT NULL,
	[barcode_type] [varchar](50) NULL,
	[barcode_value] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[file_copy]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file_copy](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[source] [nvarchar](255) NOT NULL,
	[destination] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[BILLING_DOCUMENT] [nvarchar](255) NULL,
	[BILLING_DATE] [date] NULL,
	[BILLING_DOCUMENT_TYP] [nvarchar](255) NULL,
	[BILLING_DES] [nvarchar](255) NULL,
	[COMPANY_CODE] [nvarchar](255) NULL,
	[SALES_ORDER] [nvarchar](255) NULL,
	[SALES_ORDER_ITEM] [nvarchar](255) NULL,
	[CUSTOMER_NO] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[CUSTOMER_PO_No] [nvarchar](255) NULL,
	[CUSTOMER_PO_Date] [datetime] NULL,
	[SALES_ORGANISATION] [nvarchar](255) NULL,
	[DISTRIBUTION_CHANNEL] [nvarchar](255) NULL,
	[DIVISION] [nvarchar](255) NULL,
	[PLANT] [nvarchar](255) NULL,
	[ITEM_CODE] [nvarchar](255) NULL,
	[MATERIAL_NAME] [nvarchar](255) NULL,
	[MATERIAL_DESCRIPTION] [nvarchar](255) NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[CUSTOMER_PART_NAME] [nvarchar](255) NULL,
	[IPR_REF] [nvarchar](255) NULL,
	[INCOTERMS] [nvarchar](255) NULL,
	[HSN/SAC] [nvarchar](255) NULL,
	[COUNTRY_NAME] [nvarchar](255) NULL,
	[REGION] [nvarchar](255) NULL,
	[ITEM_VALUE] [nvarchar](255) NULL,
	[DISCOUNT__PERCENT] [nvarchar](255) NULL,
	[BILLED_QTY] [bigint] NULL,
	[PACKING_FACTOR] [int] NULL,
	[master_packing_factor] [int] NULL,
	[PACKING_BOX_COUNT] [int] NULL,
	[ITEM_TOTALVALUE] [nvarchar](255) NULL,
	[DISCOUNTED_VALUE] [nvarchar](255) NULL,
	[TOTAL_VALUE_AFTER_DI] [nvarchar](255) NULL,
	[CURRANCY] [nvarchar](255) NULL,
	[FI_DOCUMENT] [nvarchar](255) NULL,
	[EXCHANGE_RATE] [nvarchar](255) NULL,
	[FINAL_VALUE] [nvarchar](255) NULL,
	[JOIG_PERCENT] [nvarchar](255) NULL,
	[JOIG_TAX_VALUE] [nvarchar](255) NULL,
	[JOCG_PERCENT] [nvarchar](255) NULL,
	[JOCG_TAX_VALUE] [nvarchar](255) NULL,
	[JOSG_PERCENT] [nvarchar](255) NULL,
	[JOSG_TAX_VALUE] [nvarchar](255) NULL,
	[TOTAL_TAX_ITEM_WISE] [nvarchar](255) NULL,
	[PACKING_COST] [nvarchar](255) NULL,
	[TOTAL_PACKING_COST] [nvarchar](255) NULL,
	[TOTAL_TCS/SALE] [nvarchar](255) NULL,
	[TCS_TAX/SALES_PERCENT] [nvarchar](255) NULL,
	[TCS_TAX_/SCRAP_PERCENT] [nvarchar](255) NULL,
	[TOTAL_TCS/SCRAP] [nvarchar](255) NULL,
	[TOTAL_INV_VALUE] [nvarchar](255) NULL,
	[IRN_NO] [nvarchar](255) NULL,
	[TRANSPORTER_NAME] [nvarchar](255) NULL,
	[TRANSPORT_MODE] [nvarchar](255) NULL,
	[TRANSPORTER_NO] [nvarchar](255) NULL,
	[TRANSPORT_DATE] [datetime] NULL,
	[VECHILE_NO] [nvarchar](255) NULL,
	[EWAY_BILL_NO] [nvarchar](255) NULL,
	[EWAY_BILL_DT] [datetime] NULL,
	[LR_NO] [nvarchar](255) NULL,
	[LR_DATE] [datetime] NULL,
	[GRN_NO] [nvarchar](255) NULL,
	[GRN_DATE] [datetime] NULL,
	[REMARKS] [nvarchar](255) NULL,
	[SCANNED_QTY] [bigint] NULL,
	[STATUS] [nvarchar](255) NULL,
	[HEAT_CODE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[INVOICE_ID] [bigint] NULL,
	[BINSTOCK_ID] [bigint] NULL,
	[ASSIGNED_QTY] [bigint] NULL,
	[ACTIVE] [int] NULL,
	[CANCEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[packing_amended]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[packing_amended](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[SALE_ORDER] [nvarchar](255) NULL,
	[SALE_ORDER_ITEM] [nvarchar](255) NULL,
	[INVOICE_ID] [int] NULL,
	[CUSTOMER_PART_NUMBER] [nvarchar](255) NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL,
	[OLD_PACKING_FACTOR] [int] NULL,
	[AMENDED_PACKING_FACTOR] [int] NULL,
	[OLD_MASTER_PACKING_FACTOR] [int] NULL,
	[AMENDED_MASTER_PACKING_FACTOR] [int] NULL,
	[OLD_BOX_COUNT] [int] NULL,
	[AMENDED_BOX_COUNT] [int] NULL,
	[AMENDED_BY] [int] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
	[HEAT_CODE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_access_tokens]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_access_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tokenable_type] [nvarchar](255) NOT NULL,
	[tokenable_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[token] [nvarchar](64) NOT NULL,
	[abilities] [nvarchar](max) NULL,
	[last_used_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[product_name] [nvarchar](255) NULL,
	[Customer_name] [nvarchar](255) NULL,
	[Customer_part_no] [nvarchar](255) NULL,
	[material_code] [int] NULL,
	[ipr_Ref_no] [nvarchar](255) NULL,
	[Qty] [float] NULL,
	[packing_factor] [float] NULL,
	[master_packing_factor] [float] NULL,
	[Min_Weight] [float] NULL,
	[Max_Weight] [float] NULL,
	[REMARKS] [nvarchar](255) NULL,
	[ACTIVE] [nvarchar](255) NULL,
	[updated_by] [int] NULL,
	[MODEL] [nvarchar](50) NULL,
	[REV_LEVEL] [nvarchar](50) NULL,
	[SCAN_TYPE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_scanned]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_scanned](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[SALE_ORDER] [nvarchar](255) NULL,
	[SALE_ORDER_ITEM] [nvarchar](255) NULL,
	[PRODUCT_BARCODE] [nvarchar](255) NULL,
	[PRIMARY_BARCODE] [nvarchar](255) NULL,
	[SECONDARY_BARCODE] [nvarchar](255) NULL,
	[CUSTOMER_PART_NO] [nvarchar](255) NULL,
	[INVOICE_ID] [int] NULL,
	[PRIMARY_BARCODE_APPROVED] [int] NULL,
	[CANCEL] [int] NULL,
	[WORK_ORDER_ID] [bigint] NULL,
	[VISION_PERCENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rack_master]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rack_master](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[storage_location] [int] NULL,
	[rack_id] [nvarchar](255) NULL,
	[bin_no] [nvarchar](255) NULL,
	[bin_name] [nvarchar](255) NULL,
	[createdby] [nvarchar](255) NULL,
	[active] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scan_data]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scan_data](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[scan_value] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[single_run]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[single_run](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[running] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storage_location]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage_location](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[location_code] [nvarchar](255) NULL,
	[location_name] [nvarchar](255) NULL,
	[createdby] [nvarchar](255) NULL,
	[active] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[user_type] [nvarchar](255) NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[active] [int] NOT NULL,
	[updated_by] [int] NULL,
	[last_password_on] [datetime] NULL,
	[Employee_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_order]    Script Date: 10/28/2023 12:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_order](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[order] [bigint] NULL,
	[posting_date] [date] NULL,
	[material_code] [bigint] NULL,
	[material_description] [nvarchar](255) NULL,
	[yield_qty] [bigint] NULL,
	[CUSTOMER_PART_NO] [varchar](50) NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[SCANNED_QTY] [bigint] NULL,
	[PACKING_FACTOR] [int] NULL,
	[MASTER_PACKING_FACTOR] [int] NULL,
	[BALANCE_QTY] [bigint] NULL,
	[STATUS] [int] NULL,
	[IPR_REF] [varchar](50) NULL,
	[HEAT_CODE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 10/28/2023 12:59:57 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [password_resets_email_index]    Script Date: 10/28/2023 12:59:57 AM ******/
CREATE NONCLUSTERED INDEX [password_resets_email_index] ON [dbo].[password_resets]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [personal_access_tokens_token_unique]    Script Date: 10/28/2023 12:59:57 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [personal_access_tokens_token_unique] ON [dbo].[personal_access_tokens]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [personal_access_tokens_tokenable_type_tokenable_id_index]    Script Date: 10/28/2023 12:59:57 AM ******/
CREATE NONCLUSTERED INDEX [personal_access_tokens_tokenable_type_tokenable_id_index] ON [dbo].[personal_access_tokens]
(
	[tokenable_type] ASC,
	[tokenable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_unique]    Script Date: 10/28/2023 12:59:57 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
USE [master]
GO
